/* Background Image */
body {
    background-image: url(https://thumbs.dreamstime.com/b/sandwich-cartoon-seamless-pattern-background-isolated-fast-food-white-170227297.jpg);
}

/* Middle Orange Strip Background */
.maincontent {
    width: 80%;
    background-color: rgba(255, 205, 122, 0.85);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    font-family: system-ui;
    color: rgb(137, 45, 0)
}

/* Divider between Ingredient Options and Order Form */
hr {
    border: 1px solid rgb(137, 45, 0);
}

/* Text Align (Headers, Paragraphs) */
h1,
h2,
h3,
p {
    text-align: center;
}

/* Ingredient Options Table */
.table tbody tr td {
    border: 1px solid rgb(137, 45, 0);
    text-align: center;
    padding: 0.5rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* Input Borders */
#name,
#phone,
#time,
#extra,
#size,
#temperature {
    border: 1px solid rgb(137, 45, 0);
    border-radius: 5px;
    color: rgb(137, 45, 0);
}

select {
    border: 1px solid rgb(137, 45, 0);
    color: rgb(137, 45, 0);
}

/* Placeholder Text */
::placeholder {
    color: rgb(137, 45, 0);
}

/* Submit Order Button */
button {
    color: rgb(137, 45, 0);
    background-color: rgb(250, 122, 35);
    border: 2px solid rgb(137, 45, 0);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    font-size: 1rem
}

/* Form Alignment (inputs in a row vertically) */
form {
    width: 80%;
    margin: 0 auto;
}

label,
input {
    display: inline-block;
}

/* Contact Details (Name, Number Pick Up Time) */
.rightalign {
    text-align: right;
}

.leftalign {
    float: left;
    display: inline-block;
}

/* Order Notes (Any special requests?) */
.extra,
.extra table tr ::placeholder {
    text-align: center;
}